body {
    font-family: sans-serif;
    font-weight: "semi-bold";

    /* transition: all 0.3s ease-in-out; */
}

.container {
    display: flex;
    justify-content: space-between;
}

img {
    height: 50px;
    width: auto;
}

#img-team1, #img-team2 {
    display: none;
}

.team-container {
    margin-top: 4px;
    margin-left: 43px;
    margin-right: 43px;
    padding-left: 8px;
    padding-right: 8px;
    width: 508px;
    max-width: 508px;
    height: 63px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.name {
    color: white;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
}

.score {
    color: white;
    height: 99%;
    width: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-section {
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.ban-container {
    display: none; /* flex */
    flex-direction: column;
    gap: 0;
    margin-top: 5px;
}

.ban-container img {
    border-radius: 5px;
    width: auto;
    height: 37px;
    z-index: 4;
}

.ban-container h1{
    color: black;
    font-size: 15px;
    font-weight: 900;

    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pill {
    display: none;

    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 20px;

    color: #e0e0e0;
    background-color: rgba(7, 7, 7, 0.815);

    padding: 4px 20px 3px 20px;
    border-radius: 0 0 10px 10px;

    transform: translateX(-50%);
}
